<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Examples Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>   
  <body>

      <header>
        <h1>Frontend and Backend - Examples</h1>
      </header>
  
      <main>
        <div class="wrapper">
          <div class="examples">
            <pre>Concepts and components that focus on the front end of a system include:

             - Design and markup languages like HTML, CSS and JavaScript.
             - Search engine optimization (SEO).
             - Usability and accessibility testing.
             - Graphic design and image editing tools.
             - Web performance and browser compatibility.

Inversely, those that focus on the back end of a system include:
              
             - Programming and scripting languages like PHP, Python and C#.
             - Automated testing frameworks.
             - Network scalability and availability.
             - Database management and data transformation.
             - Cybersecurity and data backup practices.</pre>
          </div>
  
          <a href="/home">Back to Home</a>
      </main>
  
      <footer>
        &copy; 2023 My Website
      </footer>
   

  </body>
</html>
