<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <header>
      <h1>Frontend and Backend - Introduction</h1>
    </header>

    <main>
      <div class="home">
        <p>Frontend and backend are terms used by programmers and computer professionals to describe the layers that make up hardware, a computer program or a website which are delineated based on how accessible they are to a user. In this context, the user refers to an entity that could be human or digital.

        The backend refers to parts of a computer application or a program's code that allow it to operate and that cannot be accessed by a user. Most data and operating syntax are stored and accessed in the backend of a computer system. Typically the code is comprised of one or more programming languages. The backend is also called the data access layer of software or hardware and includes any functionality that needs to be accessed and navigated to by digital means.

        The layer above the backend is the frontend and it includes all software or hardware that is part of a user interface. Human or digital users interact directly with various aspects of the frontend of a program, including user-entered data, buttons, programs, websites and other features. Most of these features are designed by user experience (UX) professionals to be accessible, pleasant and easy to use.

        A backend application or program supports frontend user services, and interfaces with any required resources. The backend application may interact directly with the frontend or it may be called from an intermediate program that mediates frontend and backend activities.</p>


        <a href="/purpose">See Purpose Page</a>
        <a href="/examples">See Examples Page</a>
        <a href="/photo">See Photo Gallery Page</a>
      </div>
    </main>

    <footer>
      &copy; 2023 My Website
    </footer>

  </body>
</html>
