<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Purpose</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <header>
      <h1>Frontend and Backend - Purpose</h1>
    </header>

    <main>
      <div class="wrapper">
        <div class="purpose">
          <p>System architectures are broken down into front end and back end components for a variety of purposes. The most common is in software and web development to break down projects in terms of required skills. The front end aspect of a project is usually handled by professionals such as web designers while the back end is handled by engineers and developers.
    
          Front end and back end can also be used to describe situations where the customer has access to one view and employees have access to another. Front end components are customer facing while rights to the back end are exclusively for authenticated users.</p>
        </div>

        <a href="/home">Back to Home</a>
    </main>

    <footer>
      &copy; 2023 My Website
    </footer>

  </body>
</html>
